.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  border: 2px solid #ededed;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
}

.card-reviews {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #d5ab55;
  font-size: 1.2rem;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
  color: #555;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.price {
  display: flex;
  flex-direction: column;
}

.price del {
  font-size: 0.8rem;
  color: #777;
}

.price span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.bag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bag:hover {
  background-color: #f0f0f0;
}

.bag-icon {
  color: #535353;
  font-size: 1.2rem;
}
