nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #f3f3f3;
  background-color: white;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.search-input {
  padding: 0.75rem 1.25rem;
  border: none;
  background: #f7f6f6;
  outline: none;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  color: #535353;
  transition: color 0.2s ease;
}

.nav-icons:hover {
  color: #000;
}
